# Part 1) Load the data and make a datetime index.

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as mticks

import datetime

import missingno as miss

import seaborn as sns
import numpy as np

pd.set_option('display.float_format',lambda x:f"{x:,.2f}")

In [56]:
def format_xdates(ax):
    
    # Create a year locator
    loc_major_yr = mdates.YearLocator()
    # Create a year formatter using 4-digit years
    fmt_major_yr = mdates.DateFormatter("%Y")


    # Create a month locator that will add months at 1,4,7,10
    loc_minor_3m = mdates.MonthLocator(bymonth=[1,4,7,10])
    # Createa monthnformatter that will use 3-letter month names
    fmt_minor_3m = mdates.DateFormatter("%b")
    

    
    # Set xaxis major locator/formatter
    ax.xaxis.set_major_locator(loc_major_yr)
    ax.xaxis.set_major_formatter(fmt_major_yr)


    # Set xaxis minor locator/formatter
    ax.xaxis.set_minor_locator(loc_minor_3m)
    ax.xaxis.set_minor_formatter(fmt_minor_3m)

    

    # Add gridlines for major xaxis ticks
    ax.grid(which='major',axis='x',color='k',ls=':',lw=1)

    ## Rotate the major tick years using fig.autofmt_xdate
    fig = ax.get_figure()
    fig.autofmt_xdate(which='major', rotation=90,ha='center')
    return fig

In [57]:
# Define the file path with the correct name and extension
file_path = r'E:\Git Hub\Repository\-Core--Resampling-Datetime-Data\Data\Modified Dataset.csv'

# Use pandas to read the CSV file into a DataFrame
df = pd.read_csv(file_path)

df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.00,7.00,52.00,2.30,-4.10,-7.50,0.40,"101,900.00",9.00
1,19790102,6.00,1.70,27.00,1.60,-2.60,-7.50,0.00,"102,530.00",8.00
2,19790103,5.00,0.00,13.00,1.30,-2.80,-7.20,0.00,"102,050.00",4.00
3,19790104,8.00,0.00,13.00,-0.30,-2.60,-6.50,0.00,"100,840.00",2.00
4,19790105,6.00,2.00,29.00,5.60,-0.80,-1.40,0.00,"102,250.00",1.00

In [58]:
df['date'][0]

19790101

In [59]:
today_datetime = datetime.datetime.today()
fmt = "%Y%m%d"
today_datetime.strftime(fmt)

'20231026'

In [60]:
df

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.00,7.00,52.00,2.30,-4.10,-7.50,0.40,"101,900.00",9.00
1,19790102,6.00,1.70,27.00,1.60,-2.60,-7.50,0.00,"102,530.00",8.00
2,19790103,5.00,0.00,13.00,1.30,-2.80,-7.20,0.00,"102,050.00",4.00
3,19790104,8.00,0.00,13.00,-0.30,-2.60,-6.50,0.00,"100,840.00",2.00
4,19790105,6.00,2.00,29.00,5.60,-0.80,-1.40,0.00,"102,250.00",1.00
...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.00,0.90,32.00,7.50,7.50,7.60,2.00,"98,000.00",NaN
15337,20201228,7.00,3.70,38.00,3.60,1.10,-1.30,0.20,"97,370.00",NaN
15338,20201229,7.00,0.00,21.00,4.10,2.60,1.10,0.00,"98,830.00",NaN
15339,20201230,6.00,0.40,22.00,5.60,2.70,-0.10,0.00,"100,200.00",NaN
15340,20201231,7.00,1.30,34.00,1.50,-0.80,-3.10,0.00,"100,500.00",NaN

In [61]:
# Convert the 'date' column to a datetime dtype
df['date'] = pd.to_datetime(df['date'])

In [62]:
# Set the 'date' column as the index
df.set_index('date', inplace=True)

In [63]:
df

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1970-01-01 00:00:00.019790101,2.00,7.00,52.00,2.30,-4.10,-7.50,0.40,"101,900.00",9.00
1970-01-01 00:00:00.019790102,6.00,1.70,27.00,1.60,-2.60,-7.50,0.00,"102,530.00",8.00
1970-01-01 00:00:00.019790103,5.00,0.00,13.00,1.30,-2.80,-7.20,0.00,"102,050.00",4.00
1970-01-01 00:00:00.019790104,8.00,0.00,13.00,-0.30,-2.60,-6.50,0.00,"100,840.00",2.00
1970-01-01 00:00:00.019790105,6.00,2.00,29.00,5.60,-0.80,-1.40,0.00,"102,250.00",1.00
...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.020201227,1.00,0.90,32.00,7.50,7.50,7.60,2.00,"98,000.00",NaN
1970-01-01 00:00:00.020201228,7.00,3.70,38.00,3.60,1.10,-1.30,0.20,"97,370.00",NaN
1970-01-01 00:00:00.020201229,7.00,0.00,21.00,4.10,2.60,1.10,0.00,"98,830.00",NaN
1970-01-01 00:00:00.020201230,6.00,0.40,22.00,5.60,2.70,-0.10,0.00,"100,200.00",NaN
1970-01-01 00:00:00.020201231,7.00,1.30,34.00,1.50,-0.80,-3.10,0.00,"100,500.00",NaN